html, body {
  height: 100%;
  margin: 0;
}
:root{
  --bs-body-bg: #0e141b !important;
}
@font-face {
  font-family: 'DM Serif Display';
  src: url(./fonts/DMSerifDisplay-Italic.ttf);

}
  .principal{
  margin: 0px 0px 0px 0px;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-image: url(./svg/layered.svg);
  width: 100%;
  min-width: 600px;
  height: 100%;
  min-height: 100%;
  position: fixed;
  
 

  
  }
  .identity{
  color: #e8c39e;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  padding-left: 60px;
  padding-top: 130px;
  
  }
  .presentation{
  font-size: 80px;
  line-height: 1;
  font-weight: bold;
  font-family: 'DM Serif Display';
  margin-bottom: 32px;
  padding-left: 60px;
  padding-top: 0px;
  }
  .bio{
  font-size: 20px;
  font-weight: lighter;
  padding-left: 60px;
  
  }    
  .typewriterText{
  color: rgb(128, 196, 196);
  }
  .myCard{
    padding-top: 100px;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
  }





.navbar-light .navbar-nav .nav-link {
  color: #8d8d8d;
  border-bottom: 3px solid #0e141b;
  margin-right: 10px;
  margin-left: 10px;
  }
  .navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: rgb(255, 255, 255) ;
    border-bottom: 3px solid rgb(72, 72, 72);
    margin-right: 10px;
    margin-left: 10px;
    }
    .navbar-light .navbar-nav .nav-link.active {
      border-bottom: 3px solid rgb(128, 196, 196);
      color: white;
    }

.form-control::placeholder {
      color: #ffffff;
    }
    




.myImage{
      border-radius: 50%;
      margin-right: 10px;
      margin-left: 60px;
      margin-top: 0px;
    }
    .SpanName{
      color: white;
      font-size: 12px;
      text-align: center;
    }

.custom-btn{
        background-color: #bb9978;
        color: #0e141b;
      }
      .custom-btn:hover{
        background-color: #84684b;
        color: #0e141b;
      }
    

/* Otras reglas CSS... */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */