:root{
  --bs-body-bg: #0e141b !important;
}
@font-face {
  font-family: 'DM Serif Display';
  src: url(./fonts/DMSerifDisplay-Italic.ttf);
}
.principal{
  color: white;
  margin-top: 130px;
  margin-left: 60px;
}
.identity{
  color: #e8c39e;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  
}
.presentation{
  font-size: 80px;
  line-height: 1;
  font-weight: bold;
  font-family: 'DM Serif Display';
  margin-bottom: 32px;
}
.bio{
  font-size: 20px;
  font-weight: lighter;
  
}    
.typewriterText{
  color: rgb(128, 196, 196);
}
.nav-link {
  color: white !important;
  border-bottom: 3px solid #0e141b !important;
  margin-right: 10px;
  margin-left: 10px;

  }
  .nav-link:hover {
    color: rgb(255, 255, 255) !important;
    border-bottom: 3px solid rgb(72, 72, 72) !important;
    margin-right: 10px;
    margin-left: 10px;
    }
    .nav-link.active{
      border-bottom: 3px solid rgb(128, 196, 196) !important;
    }
    .myImage{
      border-radius: 50%;
      margin-right: 10px;
      margin-left: 60px;
      margin-top: 0px;
    }
    .SpanName{
      color: white;
      font-size: 12px;
      text-align: center;
    }
      
    

/* Otras reglas CSS... */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */